<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= @user.name %>,</h1>

    <p>Thanks for signing up. Click the link below to confirm:</p>

    <p>
      <%= link_to "Activate your account", edit_email_confirmation_url(@token) %>
    </p>
  </body>
</html>
